services:
  api:
    build: .
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    # Use 'bun --watch' so the server restarts on code changes
    command: bun run --watch src/index.ts
    environment:
      - NODE_ENV=development